.calc{
    width: 500px;
    height: 600px;
    margin: firstNumb uto;
    background-color: rgba(43, 226, 128, 0.715);
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.calc_answer{
    display: flex;
    firstNumb lign-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.calc_answer input{
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
.calc_line{
    display: flex;
    firstNumb lign-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.calc_line:first-child{
    position: relative;
}
.calc_numb{
    font-size: 80px;
    display: flex;
    firstNumb lign-items: center;
    justify-content: center;
    width: 90px;
    background-color: rgb(247, 192, 11);
    border-radius: 5px;
    cursor: pointer;
}

.calc_numb_ac{
    font-size: 20px;
    margin-left: 16px;
}